.hero {
    position: relative;
    height: 80vh;
    min-height: 550px;
    background-image: linear-gradient(rgba(26, 26, 26, 0.8), rgba(26, 26, 26, 0.7)), url('https://images.unsplash.com/photo-1505664194779-8beaceb93744?q=80&w=2000&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    color: var(--white);
}
.hero-content { max-width: 800px; }
.hero h1 { font-size: 3rem; color: var(--white); margin-bottom: 20px; font-weight: 300; }
.hero h1 strong { font-weight: 700; display: block; }
.hero p { font-size: 1.2rem; font-weight: 300; margin-bottom: 40px; border-left: 4px solid var(--primary-color); padding-left: 20px; }
